*, *::after, *::before {
  box-sizing: border-box;
}
.container {
    display: flex;
    width: 340px;
    height: 500px;
    align-items: center;
    background-color: aqua;
    /* flex-wrap: wrap; */
    /* flex-direction */
    flex-flow: row wrap;
}
.container div {
    flex: 1;

    /* /* flex-shrink: 1; */
    /* flex-grow: 1; */
    flex-basis: 100px; 
    background-color: blueviolet;
    align-content: center;
}
.container div:nth-child(3){
    background-color: lightcoral;
    flex-shrink: 5;
    order: 3;
}
.container div:nth-child(2){
   
    order: 2;
}
.container div:nth-child(5){
  
    order: 7;
}